<?xml version="1.0" encoding="utf-8"?>
<settings styleversion="2.3.3">	
	<template_path>eqdkp_bluesky</template_path>
	<attendees_columns>6</attendees_columns>
	<logo_position>left</logo_position>
	<favicon_img></favicon_img>
	<banner_img>../../../../../templates/eqdkp_bluesky/images/template_background.jpg</banner_img>
	<body_background>#0e0e0e</body_background>
	<background_pos>normal</background_pos>
	<background_type>0</background_type>
	
	<body_link>#FFCF02</body_link>
	<body_link_style>none</body_link_style>
	<body_hlink>#000</body_hlink>
	<body_hlink_style>none</body_hlink_style>
	
	<header_link>#FFFFFF</header_link>
	<header_link_style>none</header_link_style>
	<header_hlink>#FFCF02</header_hlink>
	<header_hlink_style>none</header_hlink_style>
	
	<tr_color1>#7D7D7D</tr_color1>
	<tr_color2>#303030</tr_color2>
	<th_color1>#D9D7D7</th_color1>
	<fontface1>Verdana, Arial, Helvetica, sans-serif</fontface1>
	<fontface2>Verdana, Arial, Helvetica, sans-serif</fontface2>
	<fontface3>Verdana, Arial, Helvetica, sans-serif</fontface3>
	<fontsize1>10</fontsize1>
	<fontsize2>11</fontsize2>
	<fontsize3>12</fontsize3>
	<fontcolor1>#D9D7D7</fontcolor1>
	<fontcolor2>#FFFFFF</fontcolor2>
	<fontcolor3>#000000</fontcolor3>
	<fontcolor_neg>#FF0000</fontcolor_neg>
	<fontcolor_pos>#008800</fontcolor_pos>
	
	<table_border_width>1</table_border_width>
	<table_border_color>#999999</table_border_color>
	<table_border_style>solid</table_border_style>
	
	<table_th_background_color>rgba(0, 0, 0, 0.65)</table_th_background_color>
	<table_th_font_color>rgb(159, 159, 159)</table_th_font_color>
	<table_tr_font_color>rgb(159, 159, 159)</table_tr_font_color>
	<table_tr_background_color1>rgba(125, 125, 125,0)</table_tr_background_color1>
	<table_tr_background_color2>rgba(125, 125, 125,0.55)</table_tr_background_color2>
	<table_tr_background_color_hover>rgba(0, 0, 0,0.4)</table_tr_background_color_hover>
	<table_border_color>rgb(41, 35, 35)</table_border_color>

	<css_file></css_file>
	<use_db_vars>1</use_db_vars>
	<portal_width>0px</portal_width>
	<column_right_width>0px</column_right_width>
	<column_left_width>0px</column_left_width>
	
	<sidebar_background_color>rgba(23,31,44,.4)</sidebar_background_color>
	<sidebar_font_color>rgb(197, 229, 255)</sidebar_font_color>
	<sidebar_border_color>rgba(84, 182, 240, 1)</sidebar_border_color>
	
	<button_background_color>#00adee</button_background_color>
	<button_font_color>rgba(255, 255, 255, 1)</button_font_color>
	<button_border_color>#0076a3</button_border_color>
	<button_background_color_hover>#00678e</button_background_color_hover>
	<button_font_color_hover>#d9eef7</button_font_color_hover>
	<button_border_color_hover>#0076a3</button_border_color_hover>
	
	<content_background_color>rgba(23,31,44,.4)</content_background_color>
	<content_contrast_color>rgb(197, 229, 255)</content_contrast_color>
	<content_link_color>rgba(197, 229, 255, 1);</content_link_color>
	<content_link_color_hover>rgba(255, 255, 255, 1)</content_link_color_hover>
	<content_border_color>rgba(255,255,255,.08)</content_border_color>
	<content_accent_color>#00C0FF</content_accent_color>
	<content_contrast_background_color>rgba(23,31,44,.4)</content_contrast_background_color>
	<content_contrast_border_color>rgba(0,0,0,.4)</content_contrast_border_color>
	<content_positive_color>rgb(51, 204, 51)</content_positive_color>
	<content_negative_color>rgb(226, 59, 48)</content_negative_color>
	<content_neutral_color>rgb(153, 153, 153)</content_neutral_color>
	<content_highlight_color>rgba(255, 255, 255, 1)</content_highlight_color>
	<content_font_color>rgb(255, 255, 255)</content_font_color>
	<content_font_color_headings>rgb(255, 255, 255)</content_font_color_headings>
	
	<menu_background_color>rgba(255,255,255,.05)</menu_background_color>
	<menu_background_color_hover>rgba(0,22,41,.9)</menu_background_color_hover>
	
	<container_background_color>rgba(23,31,44,.4)</container_background_color>
	
	<input_border_style>solid</input_border_style>
	<input_color>#292323</input_color>
	<input_border_width>1</input_border_width>
	<input_background_color>rgba(0,0,0,.16)</input_background_color>
	<input_border_color>rgba(20, 50, 78, 1)</input_border_color>
	<input_font_color>#BBB</input_font_color>
	<input_background_color_active>rgba(4, 13, 26, 1)</input_background_color_active>
	<input_border_color_active>rgba(51, 128, 200, 1)</input_border_color_active>
	<input_font_color_active>rgb(255, 255, 255)</input_font_color_active>
	<additional_less>
		@styleCalendarStateColor : true; //colorized Raidstatus
		@styleCalenderGameStyle : true;
	</additional_less>
	<editor_theme>charcoal</editor_theme>
</settings>
